<h1>Create New Post</h1>
<%= form_for current_user.posts.build, url: posts_path do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :text %>
  <%= f.text_area :text %>

  <%= f.submit 'Create Post' %>
<% end %>
